.card {
  border-radius: 10%;
  height: 675px;
  width: 100%;
  margin-left: 120px;
  margin-right: 120px;
  background-color: purple;
}

.title {
  margin-left: 72px;
  margin-top: 120px;
  color: white;
}

.description {
  margin-left: 72px;
  margin-top: 20px;
  color: white;
}
