@import "./color.scss";

.footer-container {
display: flex;
justify-content: space-between;

h4 {
  color: $white70;
}

.about-us {
  text-align: left;
  display: flex;
  flex-direction: column;
    max-width: 550px;


    p {
      color: $white;
    }
}

.socials {
  margin-right: 80px;

  .social-icons {
    display: flex;
    align-items:center;


     
      a {
        color: $white;
        background-color: $light-black;
        border-radius: 50%;
        padding: 7px 7px 2px 7px;
        margin-right: 8px;

        &:hover {
          color: $white70;
        }
      }
    

  }
}
}

.copyright {
  text-align: left;
  margin-top: 40px;
  color: $white70;
}