@import "./color.scss";

.main-container {
  margin-top: 30px;
  h1 {
    color: $white;
  }

  p {
    color: $white70;
    margin-bottom: 30px;
  }

  .material-tabs {
    margin-bottom: 30px;
  }
}

@media (max-width: 786px ){

.event-card-container {
  column-count: 2;
  column-gap: 10px;

  .event-card {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
  }
}

}