@import "./color.scss";

.news-detail-container {
  // max-width: 1200px;

  .news-detail-card {
    display: flex;
    flex-direction: row;

    .news-image-container {}

    .news-info-container {
      position: relative;
      height: 600px;
      overflow-y: scroll;
      margin-left: 20px;
      margin-top: 30px;

      h5 {
        margin-top: 40px;
        color: $white70;
        text-align: left;
        line-height: 18px;
      }

      .interaction {
        // position: absolute;
        // left: 0px;
        // width: 100%;
        // bottom: -10px;
        padding: 20px 20px 20px 0px;
        background-color: $black;
      }
    }

  }

  .news-img {
    width: 600px;
    height: 600px;
    object-fit: cover;
    object-position: top;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 20px;
  }

  h1 {
    color: $white;
    text-align: left;
    font-size: 38px;
    line-height: 38px;
    font-weight: 500;
  }

  p {
    color: rgb(255, 255, 255, 0.75);
    font-size: 18px;
    line-height: 26px;
    text-align: left;
  }

  .user-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    img {
      border-radius: 50%;
      height: 25px;
      width: 25px;
      object-fit: cover;
      margin: 0px;
      margin-right: 16px;
    }

    span {
      color: $white70 !important;
      font-weight: 400;
      font-size: 14px;
      margin-right: 8px;
    }
  }
}

.interaction {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;

  p {
    font-size: 15px;
    color: $white;
    margin-right: 8px;
    margin-bottom: 0px;
  }
}

@media (max-width: 1200px) {
  .news-img {
    width: 400px !important;
    height: 400px !important;
  }

  .news-info-container {
    height: 400px !important;
  }
}


@media (max-width: 992px) {
  .news-img {
    width: 300px !important;
    height: 300px !important;
  }

  .news-info-container {
    height: 300px !important;
  }
}

@media (max-width: 768px) {
  .news-detail-card {
    flex-direction: column !important;
    align-items: center;

    .news-img {
      width: 500px !important;
      height: 500px !important;
      margin-bottom: 0px;
    }

    .news-info-container {
      width: 500px !important;
      height: auto !important;
    }
  }
}


@media (max-width: 576px) {
  .news-detail-container {

    img {
      height: 200px;
    }

    h1 {
      font-size: 24px !important;
      line-height: 28px !important;
    }

    .user-container {
      span {
        font-size: 12px;
      }
    }

    .interaction {
      p {
        font-size: 16px;
      }
    }
  }

  .news-detail-card {
    flex-direction: column !important;
    align-items: center;
    margin: 0px 20px;

    .news-img {
      width: 100% !important;
      height: 100% !important;
      margin-bottom: 0px;
    }

    .news-info-container {
      width: 100% !important;
      height: auto !important;
      margin-left: 0px;
    }
  }
}